@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    user-select: none;
    -webkit-app-region: drag;
    border-radius: 20px;
    background-color: transparent;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    width: 13.375rem;
    padding: 1rem 1.0625rem;

    background-image: url("assets/outer-frame-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0.8;
}

button,
input,
textarea,
select {
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.title {
    display: flex;
    width: 157px;
    aspect-ratio: 157 / 27;
    padding: 0.25rem 0.625rem;
    justify-content: center;
    align-items: center;

    border-radius: 6.25rem;
    border: 1px solid #C079FF;
    background: rgba(210, 164, 255, 0.4);

    color: #FFFFFF;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

#calendar {
    display: flex;
    width: 11.25rem;
    height: 10.0625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-image: url("assets/inner-frame-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#day {
    display: flex;
    width: 11.25rem;
    height: 4.4375rem;
    flex-direction: column;
    justify-content: center;

    color: #FFFFFF;
    text-align: center;

    -webkit-text-stroke: 1.5px #B58CD9;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 8.5rem;
    font-weight: 700;
    line-height: 1.25rem;
    letter-spacing: 0.45rem;
}

#month {
    width: 8.125rem;

    color: #FFFFFF;
    text-align: center;

    -webkit-text-stroke: 1.5px #B58CD9;

    font-family: "Pixelify Sans", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.3rem;

    text-transform: uppercase;
}